.contenido {
  opacity: 0;
  visibility: visible;
  transition: opacity 0.6s ease-in-out;
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.contenido.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease-in-out;
}
